# ЛР №7 Продвинутый Pandas

## Задание 1

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')

In [3]:
ratings_count = ratings.groupby('userId').count().reset_index()[['userId','rating']]

In [4]:
ratings_count = ratings_count[ratings_count['rating']>100]
ratings_count

     userId  rating
3         4     204
7         8     116
14       15    1700
16       17     363
18       19     423
..      ...     ...
655     656     128
658     659     142
663     664     519
664     665     434
670     671     115

[258 rows x 2 columns]

In [5]:
ratings_max = ratings.groupby('userId').max().reset_index()
ratings_min = ratings.groupby('userId').min().reset_index()
ratings_max['avg lifetime'] = ratings_max['timestamp'] - ratings_min['timestamp']
ratings_max = ratings_max[['userId', 'avg lifetime']]
avg_lt = ratings_count.merge(ratings_max)
avg_lt [['userId', 'avg lifetime']]

     userId  avg lifetime
0         4        203560
1         8         85187
2        15     471393496
3        17          8053
4        19          5282
..      ...           ...
253     656          3053
254     659      31609411
255     664      98180439
256     665      54131471
257     671      11283984

[258 rows x 2 columns]

## Задание 2

В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

1. Прочитайте содержимое файла с датафрейм
2. Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [6]:
urls = pd.read_csv('URLs.txt')
urls

                                                  url
0                                             /world/
1                                            /latest/
2                                       /?updated=top
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[93 rows x 1 columns]

In [7]:
urls[urls.url.str.contains('/[0-9]{8}-')]

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

## Задание 3

В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [8]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

In [9]:
from pymystem3 import Mystem

In [10]:
data['lemmas'] = data.apply(lambda row: ' '.join(Mystem().lemmatize(row['keyword'])).strip(), axis = 1)

In [11]:
data

                 keyword   shows                     lemmas
0    курс гривны к рублю  125076  курс   гривна   к   рубль
1        доллары в рубли  114173         доллар   в   рубль
2  100 долларов в рублях   97534   100   доллар   в   рубль
3             курс рубля   53546               курс   рубль